//主题色配置项目
//-主题主色调
$theme_color = #e67249
//-主题部分时间展示主色调
$theme_color_time = #f8e6d8
//-主题部分阴影主色调
$theme_color_shadow = #e67249;
//-文章置顶小图
$theme_post_top = "/images/background/cangshu.png"
//主要插件配置项目
//-播放器背景图
$bg_aplayer = "/images/background/chichi.jpg"

//-留言背景图
$bg_veditor = "/images/background/papa.jpg"

//-聊天组件daodream
$bg_daodream_button = "/images/head/call.jpg"
$bg_daodream_loading = "/images/head/call.jpg"
$bg_daodream_avatar = "/images/head/head.jpg"

//-时钟中心背景
$bg_clock_logo = "/images/background/cangshu.png"

//-天气中心旁边
$bg_qweather_logo = "/images/background/cangshu.png"
