#nexmoe-background {
  .nexmoe-bg {
    z-index: -2;
  }

  .nexmoe-small {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position-x: -100px
  }
}

//主选框颜色
#nexmoe-header {
  .nexmoe-count {
    justify-content space-between
    padding: 0 20px;

    .nexmoe-count-item {
      flex: none
      width: 60px
      padding: 5px 0
      background-color: $theme_color;
      transform: rotate(0deg);
      border-radius: 50%;
      color: #fff;
      box-shadow: 0 2px 12px $theme_color_shadow;
      position: relative;

      .item-radius {
        position: absolute;
        left: 5px;
        top: -3px;
        width: 15px;
        height 15px;
        border-radius: 50%;
        background-color: $theme_color;
      }

      .item-right {
        left: auto
        right: 5px;
      }

      span {
        color: #fff;
      }
    }
  }

  .nexmoe-list {
    .nexmoe-list-item.active {
      background-color: $theme_color
      box-shadow: 0 2px 12px $theme_color_shadow;
    }
  }

  .nexmoe-search {
    input {
      width 100%;
    }
  }

  #local-search-result {
    .search-result-list {
      width: 100%
      position: absolute;
      z-index: 33;
      top: 65px;
      box-sizing: border-box;
      background-color: #fff;
      border-radius: 15px;
      overflow: auto;
      box-shadow: 0 2px 12px $theme_color_shadow;
      animation: anim 0.5s;
      max-height:200px;
      .search-result-list-item {
        &:last-child {
          border-bottom: 0;
        }
        box-sizing: border-box;
        padding: 10px 0;
        margin 0 10px;
        font-size:14px;
        border-bottom: 1px solid #ccc;

        a {
          color: #333;

          &:hover {
            color: $theme_color;
          }
        }
      }
    }

    @keyframes anim {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .nexmoe-widget-wrap {
    position: relative;
    overflow: inherit;

    .nexmoe-widget {
      .category-list-count {
        color: $theme_color;
        background-color: $theme_color_time;
      }

      .archive-list-count {
        color: $theme_color;
      }
    }
  }

  .nexmoe-copyright {
    a {
      color: $theme_color;
    }
  }
}

//内容区
#nexmoe-content {
  .nexmoe-posts {
    .nexmoe-post {
      position: relative
      .nexmoe-post-top {
        position:absolute
        top: 0
        left: 0
        z-index: 99
        padding: 0 10px
        font-size: 14px
        border-radius 15px 0 8px 0
        background-color: $theme_color_time
        height: 30px
        color: $theme_color
        display: flex
        align-items: center
        .nexmoe-post-top-img{
          width: 15px
          height: 15px
          background-image: url($theme_post_top)
          background-size: 100% 100%
          margin-right: 5px;
        }
      }
    }
  }
}

#nexmoe-pendant {
  .nexmoe-pd {
    width: 300px

    .clock {
      border: solid 2.8vh $theme_color
      box-shadow: 0 1.4vh 2.8vh $theme_color_shadow

      .memory {
        background-color: #a50e00 !important
      }

      .clock_logo {
        background-image: url($bg_clock_logo)
        //box-shadow :0 1.4vh 2.8vh $theme_color_shadow
      }
    }

    .qweather {
      #he-plugin-standard {
        border: 2px solid $theme_color
        box-shadow: 0 1px 0 0 $theme_color_shadow, 0 1px 2px 0 $theme_color_shadow;

        .wv-lt-refresh {
          display: none
        }

        .wv-v-v-forecast {
          padding: 1em .5em 1em
        }
      }

      .qweather-logo {
        background-image: url($bg_qweather_logo);
      }
    }

  }
}

//文章下a连接颜色
article {
  a {
    color: $theme_color;
  }

  h2 {
    &:after {
      background: $theme_color;
      box-shadow: 0 2px 12px $theme_color_shadow;
    }
  }

  h4, h5, h6 {
    &:before {
      color: $theme_color
    }
  }

  ol {
    li {
      &::before {
        color: $theme_color;
        background-color: $theme_color_time;
      }
    }
  }

  pre {
    .text, .txt {
      color: #abb2bf
    }
  }
}

//文章归档颜色
.nexmoe-archives {
  li {
    &::before {
      background: $theme_color;
    }
  }
}

.nexmoe-rainbow {
  a:nth-child(7n+1) {
    background: $theme_color_time;
    color: $theme_color;
  }
}

//主内容区
#nexmoe-content {
  .nexmoe-post {
    //评论区

    .nexmoe-py {
      .aplayer {
        background-image: url($bg_aplayer);
        background-position: center;
        background-size: auto 100%;
        background-repeat: no-repeat;
      }

      p {
        em {
          color: $theme_color;
          font-size: 17px;
        }
      }
    }

    //留言界面

    .nexmoe-comment {
      .v {
        a {
          &::before {
            background: $theme_color
          }
        }

        .veditor {
          background-image: url($bg_veditor);
          background-position: right;
          background-size: auto 8.75em;
          background-repeat: no-repeat;
          background-color: #fff
        }

        .vlist {
          .vcard {
            .vhead {
              .vnick {
                &::before {
                  background: $theme_color
                }
                color: $theme_color
              }
            }
          }
        }

        button {
          &:hover {
            background: $theme_color
            color: #fff
            border-color: $theme_color
          }
          background: $theme_color_time
          color: $theme_color
        }

        .vcontrol {
          .col-20 {
            a {
              display: none
            }
          }
        }

        .info {
          display: none
        }
      }
    }

    //版权区

    .nexmoe-post-copyright {
      a {
        color: $theme_color;
      }
    }
  }

  .nexmoe-primary {
    .nexmoe-page-nav {
      .current {
        background: $theme_color;
        box-shadow: 0 2px 12px $theme_color_time;
      }
    }
  }
}

//聊天功能
#daodream-container {
  .daodream-launcher {
    right: 60px !important;
    bottom: 60px !important;
  }

  .daodream-powered-by {
    display: none
  }

  .daodream-sheet-header {
    background-image: linear-gradient(0deg, $theme_color_time, $theme_color_time) !important
    box-shadow: 0 1px 0 0 $theme_color_time, 0 1px 2px 0 $theme_color_time !important;
    color: $theme_color;

    .daodream-sheet-header-generic-title {
      color: $theme_color;
      font-weight: bold
    }
  }

  .daodream-composer-textarea {
    textarea {
      color: $theme_color !important

      &:focus {
        outline: none;
        border: 1px solid $theme_color !important
      }
    }
  }

  //发送按钮

  .daodream-composer-send-button {
    background-image: linear-gradient(180deg, $theme_color, $theme_color) !important
    background: $theme_color !important
  }

  //己方头像颜色

  .daodream-conversations-item-user-avatar {
    background-color: $theme_color !important;
  }

  //创建新消息按钮

  .daodream-conversations-new-conversation-button {
    background-image: linear-gradient(180deg, $theme_color, $theme_color) !important
    background: $theme_color !important
  }

  .daodream-comment-by-admin {
    .daodream-comment-body-container {
    }
  }

  //系统人员

  .daodream-comment-card {
    //系统提示框

    .notification-input {
      border: 1px solid $theme_color !important
    }

    //系统提示框按钮

    .notification-submit {
      background-color: $theme_color !important;
    }

    .daodream-comment-avatar {
      content: url($bg_daodream_avatar) !important;
    }
  }

  //消息列表头像样式

  .daodream-comment-by-user {
    .daodream-comment-body-container {
      background-color: $theme_color !important;
    }

    .daodream-comment-caret {
      &:before {
        background-color: $theme_color !important;
      }
    }
  }

  //loadng图

  .daodream-sheet-spinner {
    border-radius: 50% !important;
    overflow: hidden;
    background-image url($bg_daodream_loading) !important;
  }

  //浮窗按钮样式

  .daodream-launcher-button {
    width 80px !important;
    height 80px !important;
    background-color: $theme_color !important;
    background-image url($bg_daodream_button) !important;
    background-size: 100% 100% !important;
    border-radius: 50% !important;
    animation: mybutton 8s;
  }

  @keyframes mybutton {
    0% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(30deg);
    }
    60% {
      transform: rotate(-30deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

}

@media screen and (max-width: 1600px) {
  #nexmoe-pendant {
    display: none
  }
}


@media screen and (max-width: 1024px) {
  .live2d-widget-container {
    display: none;
  }

  #nexmoe-background {
    .nexmoe-small {
      display: none
    }
  }

  #daodream-container {
    .daodream-launcher {
      right: 20px !important;
      bottom: 20px !important;
    }

    .daodream-launcher-button {
      width 48px !important;
      height 48px !important;
    }
  }

  .nexmoe-post-right {
    .nexmoe-tool {
      display: none
    }
  }
}
